In [1]:
# Warnings
import warnings
warnings.filterwarnings('ignore')

# Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Settings
pd.set_option('display.max_columns', None)
sns.set_style('whitegrid')
%matplotlib inline

In [2]:
data = pd.read_csv('../data/uber-eats-deliveries.csv')

In [12]:
from MapMissingValues import MissingValuesMapping

In [13]:
DataNaNMapped = MissingValuesMapping(data = data)

In [14]:
DataNaNMapped = DataNaNMapped.transform

In [15]:
DataNaNMapped.isnull().sum()

AttributeError: 'function' object has no attribute 'isnull'

In [11]:
DataNaNMapped

<bound method MissingValuesMapping.transform of MissingValuesMapping(data=            ID Delivery_person_ID Delivery_person_Age Delivery_person_Ratings  \
0      0x4607     INDORES13DEL02                   37                     4.9
1      0xb379     BANGRES18DEL02                   34                     4.5
2      0x5d6d     BANGRES19DEL01                   23                     4.4
3      0x7a6a    COIMBRES13DEL02                   38                     4.7
4      0x70a2     CHENRES12DEL01                   32                     4.6
...        ...                ...                 ...                     ...
45588  0x7c09      JAPRES04DEL01                   30                     4.8
45589  0xd641      AGRRES16DEL01                   21                     4.6
45590  0x4f8d     CHENRES08DEL03                   30                     4.9
45591  0x5eee    COIMBRES11DEL01                   2...
45589       Buffet      motorcycle                    1      No
45590       Drinks         scooter                    0      No
45591        Snack      motorcycle                    1      No
45592        Snack         scooter                    1      No

                 City Time_taken(min)
0              Urban         (min) 24
1      Metropolitian         (min) 33
2              Urban         (min) 26
3      Metropolitian         (min) 21
4      Metropolitian         (min) 30
...               ...             ...
45588  Metropolitian         (min) 32
45589  Metropolitian         (min) 36
45590  Metropolitian         (min) 16
45591  Metropolitian         (min) 26
45592  Metropolitian         (min) 36

[45593 rows x 20 columns])>